﻿@model Feedback
@{
    ViewData["Title"] = "Feedback";
}

<div class="col-md-10">
    <form asp-action="Index" method="post" class="form-horizontal" role="form">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Message" class="form-control" type="text" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContactMe" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ContactMe" type="checkbox" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input class="btn btn-primary" value="Send Feedback" type="submit" />
            </div>
        </div>
    </form>
</div>