﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Before contacting us, please login or <a asp-action="Register" asp-controller="Account">Register</a></h2>

<form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-block btn-primary" />
        </div>
    </div>
</form>