﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/pattern.png');
    background-repeat: repeat;
}

.body-content {
    padding-right: 15px;
    padding-left: 15px;
}