﻿@model HomeViewModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

@foreach ( var pie in Model.Pies )
{

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="Thumbnail" />
            <div class="caption">
                <h3 class="pull-right">
                    @pie.Price.ToString( "c" )
                </h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a>
                </h3>
                <p>
                    @pie.ShortDescription
                </p>
            </div>
        </div>
    </div>

}